#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#search-div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search {
    width: 40em;
    padding: 10px;
}

#menu-div {
    display: flex;
    flex-direction: row;

}

.youTubeLogo {
    display: flex;
    height: 100%;
}

.line-space {
    margin-right: 13px;
}


